
.wrapper{
    transition: background-color 0.2s ease-in-out;
    border-radius: 9999px;
    cursor: pointer;
    min-width: 35px;
    min-height: 35px;
    display: flex;
    justify-content: center  ;
    align-items: center;
    box-sizing: border-box;
    margin-left: calc(-8px);
}
.wrapper:hover {
    background-color: rgba(249, 24, 128, 0.1);
}
.likeIcon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
    height: 1.25em;
}
.likeIcon path{
    transition-duration: 0.2s;
    transition-property: color;
    color: var(--secondary-text-color);
}
.wrapper:hover path{
    color: rgb(249, 24, 128);
}
.pressed path{
    color: rgb(249, 24, 128);
}