
.logOutIcon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
    height: 22px;
    width: 22px;
}
.logOutIcon path{
    transition-duration: 0.2s;
    transition-property: color;
    color: var(--secondary-text-color);
}