.pinIcon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
    height: 20px;
    cursor: pointer;
    padding-right: 12px;
}
.pinIcon path{
    color: var(--secondary-background-color)
}