
.wrapper{
    border-radius: 9999px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
    cursor: pointer;
}
.threeDotsIcon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
    height: 22px;
    cursor: pointer;
}
.threeDotsIcon path{
    color: var(--secondary-text-color);
}
.wrapper:hover {
    background-color: rgba(29, 155, 240, 0.1);
}
.wrapper:hover .threeDotsIcon path{
    color: rgb(29, 155, 240);
}