
.trashCanIcon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
    height: 20px;
    padding-right: 12px;
}
.trashCanIcon path{
    color: rgba(244,33,46,1.00);
}