.paginationContainer {
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    padding: 20px 0;
    box-sizing: unset;
}
.paginationContainer > *{
    margin-right: 4px;
}
.paginationContainer > *:last-child{
    margin-right: 0;
}
.paginationItem{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100%;
    border-radius: 9999px;
    color: var(--primary-text-color);
    font-weight: 700;
}
.paginationItem span{
    margin-bottom: 2px;
}
.paginationItem:hover, .paginationButton:hover{
    background-color: var(--hover-button-background-color);
}
.selectedPage, .selectedPage:hover{
    color: var(--tertiary-text-color);
    background-color: var(--secondary-background-color);
}
.paginationButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    cursor: pointer;
    height: 100%;
    width: 30px;
    border: none;
    background: none;
}
.paginationButton polyline{
    stroke: var(--secondary-background-color);
}
.paginationButtonDisabled:hover{
    background: none;
    cursor: default;
}
.paginationButtonDisabled polyline{
    opacity: 0.4;
}