.suggestionContainer{
    width: 350px;
    padding-top: 16px;
    margin-right: 70px;
}
@media only screen and (max-width: 1450px) {
    .suggestionContainer{
        margin-right: 10px;
    }
}
@media only screen and (max-width: 1150px) {
    .suggestionContainer{
        width: 290px;
        margin-right: 10px;
    }
}
@media only screen and (max-width:  1050px) {
    .suggestionContainer{
        display: none;
    }
}
.peopleSuggestion, .trendSuggestion{
    background-color: var(--send-message-background-color);
    border-radius: 16px;
    height: 200px;
    color: var(--primary-text-color);
    padding: 12px 16px;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 800;
}
.commentary{
    padding-top: 8px;
    font-weight: 400;
}