.usersContainer{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.usersWrapper{
    width: 600px;
    height: 100%;
    border-right: 1px solid var(--primary-border-color);
    box-sizing: border-box;
    min-width: 250px;
}
@media only screen and (max-width: 675px) {
    .usersWrapper{
        width:100%;
    }

}
.usersTitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: var(--primary-text-color);
    -webkit-backdrop-filter:  blur(12px);
    backdrop-filter: blur(12px);
    background-color: var(--profile-top-blurred);
    height: 53px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 16px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}