.container{
    border-bottom: 1px var(--primary-border-color) solid;
    padding: 0 16px 8px;
}
.textarea::-webkit-scrollbar{
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.textareaWrapper{
    display: flex;
    padding-top: 4px;
}
.textarea {
    display: block;
    resize: none;
    border: none;
    background: none;
    color: inherit;
    font-size: 20px;
    width: 100%;
    min-height: 96px;
    max-height: 400px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 16px 0 12px;
}
.textarea::placeholder{
    font-size: 20px;
    color: #71767B;
}
.textarea:focus{
    outline: none;
}
.profilePicture{
    margin-top: 12px;
    margin-right: 12px;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
}
.lengthIndicatorWrapper{
    margin-right: 12px;
    border-right: 1px solid rgb(62, 65, 68);
    height: 30px;
    display: flex;
    align-items: center;
}
.lengthIndicator{
    color: var(--secondary-text-color);
    font-size: 15px;
    margin-right: 12px;
}
.lengthIndicator.lowSymbols{
    color: #FFD400;
}
.lengthIndicator.noSymbols{
    color: #F4212E;
}
.submitButtonWrapper{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 12px;
}
.submitButton {
    color:  rgb(255, 255, 255);
    height: 35px;
    box-sizing: border-box;
    border-radius: 9999px;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(29, 155, 240);
    padding: 0 16px;
    border: none;
    cursor: pointer;
    transition-duration: 0.2s;
}
.submitButton:hover {
    background-color: rgb(26, 140, 216);
}
.disabledButton{
    opacity: 0.5;
}
.error {
    border: 2px green solid;
}