.userMessageWrapper, .opponentMessageWrapper{
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    overflow: hidden;
}
.userMessageWrapper{
    justify-content: end;
    color: rgb(255, 255, 255);
}
.opponentMessageWrapper{
    justify-content: start;
    color: var(--primary-text-color);
}
.userMessage, .opponentMessage{
    max-width: 65%;
    padding: 12px 16px;
    box-sizing: border-box;
    background-color: var(--message-background-color);
    display: inline-block;
    white-space: break-spaces;
    word-break: break-word;
    overflow: hidden;
}
.userMessage{
    border-radius: 24px 24px 4px 24px;
    background-color: var(--message-background-color);
}
.opponentMessage{
    border-radius: 24px 24px 24px 4px;
    background-color: var(--primary-border-color);
}
