.svgButtonContainer {
    align-items: flex-start;
    min-width: 56px;
    display: flex;
}
.svgButtonWrapper {
    margin-left: calc(-8px);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    min-height: 35px;
    transition: background-color 0.2s ease-in-out;
    border-radius: 9999px;
    cursor: pointer;
}
.svgButtonWrapper:hover {
    background-color: var(--hover-button-background-color);
}
.svgButton {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
    height: 20px;
}
.svgButton path {
    color: var(--primary-text-color);
}
.colorWhite path{
    color: rgb(255, 255, 255) !important;
}
.colorWhite:hover {
    background-color: rgba(26, 26, 26, 0.75) !important;
}