.main {
    flex-grow: 1;
    flex-shrink: 1;
    box-sizing: border-box;
    display: flex;
    color-scheme: var(--color-scheme);
}
.mainInner{
    width: 1050px;
}
@media only screen and (max-width: 1450px) {
    .mainInner{
        width: 990px;
    }
}
@media only screen and (max-width: 1150px) {
    .mainInner{
        width: 920px;
    }
}
@media only screen and (max-width: 1050px) {
    .mainInner{
        width: 600px;
    }
}
@media only screen and (max-width: 675px) {
    .mainInner{
        width: 100%;
    }
}
@media only screen and (max-width: 675px) {
    .main{
        width: 100%;
    }
}
.contentWrapper {
    display: flex;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    background-color: var(--primary-background-color);
    position: relative;
}
