
.profileDataForm  {
    color-scheme: normal;
    position: relative;
    padding-bottom: 32px;
}
.formHeader {
    padding: 0 16px;
    height: 53px;
    display: flex;
    align-items: center;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(12px);
    background-color: var(--profile-top-blurred);
}

.formHeaderTitle {
    color: var(--primary-text-color);
    height: 53px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    width: 100%;
}
.saveFormData {
    transition: background-color 0.2s ease-in-out;
    font-weight: 600;
    font-size: 14px;
    background-color: var(--secondary-background-color);
    border: 1px solid black;
    padding: 7px 16px;
    line-height: 16px;
    border-radius: 9999px;
    color: var(--tertiary-text-color);
    cursor: pointer;
}

.saveFormData:hover {
    background-color: var(--reversed-button-background-hover);
}

.profilePictureWrapper {
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    position: relative;
}
.addPhotoIconContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 23.5%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addPhotoIconWrapper{
    margin-top: -63.83%;
    width: 100%;
    padding-bottom: 100%;
    height: 0;
    position: relative;
}
.addPhotoIconCover{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.formBody {
    padding: 12px 16px 0 16px;
}

.inputContainer{
    padding: 12px 0 12px 0;
}
.inputWrapper {
    border: 1px solid rgb(51, 54, 57);
    border-radius: 4px;
    position: relative;
    cursor: text;
}

.input {
    margin-top: 16px;
    padding: 12px 8px 8px 8px;
    width: calc(100% - 16px);
    border: 0;
    color: var(--primary-text-color) !important;
    background-color: var(--primary-background-color);
    font-size: 17px;
}

.input:focus {
    outline: none !important;
}

.inputFocused {
    border: 1px solid rgb(29, 155, 240);
    box-shadow: rgb(29, 155, 240) 0 0 0 1px;
}

.inputTitleWrapper {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.inputTitle {
    font-size: 17px;
    text-overflow: unset;
    color: var(--secondary-text-color);
    padding: 16px 8px 0 8px;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    font-size 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    padding-top 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;

}
.inputTitleFocused{
    color: rgb(29, 155, 240);
}
.inputTitleErrorFocused{
    color: rgba(244,33,46,1.00);
}
.inputTitleFilled, .inputTitleFocused{
    font-size: small;
    padding-top: 8px;
}
.wordCounter{
    color: var(--secondary-text-color);
    padding: 9px 8px 0 8px;
    font-size: small;
}
.inputError, .inputErrorFocused{
    border: 1px solid rgba(244,33,46,1.00);
}
.inputErrorFocused{
    box-shadow: rgba(244,33,46,1.00) 0 0 0 1px;
}
.changeProfilePicture{
    max-width: 137px;
    cursor: pointer;
    padding: 14px 11px 12.4px 11px;
    background-color: rgba(15, 20, 25, 0.75);
    border-radius: 100%;
    transition-duration: 0.2s;
}
.changeProfilePicture:hover{
    background-color: rgba(39, 44, 48, 0.75);
}
input[type="file"] {
    display: none;
}
.headerBorder{
    border-left: 2px solid var(--primary-background-color);
    border-right: 2px solid var(--primary-background-color);
}
p.errorMessage{
    color: rgb(244, 33, 46);
    font-size: 13px;
    font-weight: 400;
    padding: 2px 8px 0 8px;
    margin-bottom: 20px;
}
.commentary{
    color: var(--primary-text-color);
    padding: 12px 16px 0 16px;
    margin-bottom: 12px;
}
