
.dialogsWrapper {
    display: flex;
    height: 100%;
}
.dialogsElements{
    box-sizing: border-box;
    border-right: 1px solid var(--primary-border-color);
    min-width: 0;
    flex: 1;
    width: 100%;
}
.dialogsTitle{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: var(--primary-text-color);
    -webkit-backdrop-filter:  blur(12px);
    backdrop-filter: blur(12px);
    background-color: var(--profile-top-blurred);
    height: 53px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 16px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.bigScreen{
    display: flex;
    width: 100%;
}
.smallScreen{
    display: none;
    width: 100%;
}
@media only screen and (max-width: 1050px) {
    .bigScreen{
        display: none;
    }
    .smallScreen{
        display: flex;
    }
}