.dialogItemContainer {
    color: var(--primary-text-color);
    transition-duration: 0.2s;
    font-size: 15px;
    font-weight: 500;
    box-sizing: border-box;

}
.dialogItemContainer:last-child {
    margin-bottom: 0;
}
.dialogItemContainer .dialogItemWrapper.active{
    background: var(--send-message-background-color);
    border-right: 1px solid var(--message-background-color);
}
.dialogItemContainer:hover .dialogItemWrapper{
    background-color: var(--dialog-item-background-hover);

}
.dialogItemWrapper{
    user-select: none;
    display: flex;
    box-sizing: border-box;
    transition-duration: 0.2s;
    text-decoration: none;
    padding: 10px;
    color: var(--primary-text-color);
}
.userLastMessage{
    color: var(--secondary-text-color);
    padding-right: 29px;
}
.opponentLastMessage{
    color: var(--primary-text-color);
    padding-right: 29px;
}
.underMessageWrapper{
    display: flex;
    overflow: hidden;
    max-height: 20px;

}
.underMessage{
    text-overflow: ellipsis;
    width: 20px;
    overflow: hidden;
    word-break: break-word;
    flex-grow: 1;

    white-space: nowrap;
    display: block;
}
.draft{
    margin-right: 4px;
    color: #d55151;
}
.dialogPicture{
    height: 40px;
    width: 40px;
    border-radius: 9999px;
    margin-right: 12px;
}
.dialogInfo{
    overflow: hidden;
    width: 100%;
}
