.navbarContainer{
    flex-grow: 1;
    flex-shrink: 0;
    padding: 10px;
    border-right: 1px solid var(--primary-border-color);
    display: flex;
    justify-content: end;
    box-sizing: border-box;
    position: sticky;
    height: 100dvh;
    top: 0;
    left: 0;
    align-items: end;
    overflow: unset;
    z-index: 2;
}
.navbarWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100% ;
    align-items: start;
    overflow: unset;
}
.settingsContainer{
    display: flex;
    justify-content: start;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
}
@media only screen and (max-width: 1250px) {
    .optionTitle{
        display: none;
    }
}
.settingsWrapper{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 4px 0;
    color: var(--primary-text-color);
    font-weight: 400;
    cursor: pointer;
    width: 100%;
}
.mainItems{
    width: 100%;
}
.settings{
    border-radius: 9999px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.settingActive{
    background: var(--hover-button-background-color);
}
.settingsWrapper:hover .settings{
    background: var(--hover-button-background-color);
}
.settings span{
    margin-right: 16px;
    margin-left: 20px;

}