.githubPanel, .locationPanel, .websitePanel{
    margin-right: 12px;
    word-wrap: break-word;
    display: inline-block;
}
.githubPanel{
    cursor: pointer;
    text-decoration: none;
}
.githubLogo, .locationLogo, .websiteLogo{
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
    height: 1.25em;
    max-width: 100%;
    margin-right: 4px;
}
.githubLogo path, .locationLogo path, .websiteLogo path {
    color: var(--secondary-text-color);
}

.githubLink, .websiteLink{
    color: rgb(29, 155, 240) !important;
    cursor: pointer;
}

.githubLink:hover, .websiteLink:hover{
    text-decoration: underline;
}