
.stickyHeaderContainer{
    -webkit-backdrop-filter:  blur(12px);
    backdrop-filter: blur(12px);
    position: sticky;
    position: -webkit-sticky;
    min-height: 0;
    left: 0;
    top: 0;
    z-index: 1;
    transform: none;
}
.stickyHeaderWrapper{
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    height: 53px;
    max-width: 600px;
    width: 100%;
    background-color: var(--profile-top-blurred);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.stickyHeader{
    display: flex;
    align-items: center;
}
.title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 20px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.subTitle{
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}