
.inputContainer{
    padding: 12px 0 12px 0;
}
.inputWrapper {
    border: 1px solid var(--secondary-border-color);
    border-radius: 4px;
    position: relative;
    cursor: text;
}

.input {
    margin-top: 16px;
    border-radius: 4px;
    padding: 12px 8px 8px 8px;
    width: calc(100% - 16px);
    border: 0;
    color: var(--primary-text-color) !important;
    background-color: var(--primary-background-color);
    font-size: 17px;
}

.input:focus {
    outline: none !important;
}

.inputFocused {
    border: 1px solid rgb(29, 155, 240);
    box-shadow: rgb(29, 155, 240) 0 0 0 1px;
}

.inputTitleWrapper {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.inputTitle {
    font-size: 17px;
    text-overflow: unset;
    color: var(--secondary-text-color);
    padding: 16px 8px 0 8px;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    font-size 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    padding-top 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
}
.inputTitleFocused{
    color: rgb(29, 155, 240);
}
.inputTitleErrorFocused{
    color: rgba(244,33,46,1.00);
}
.inputTitleFilled, .inputTitleFocused{
    font-size: small;
    padding-top: 8px;
}
.wordCounter{
    color: var(--secondary-text-color);
    padding: 9px 8px 0 8px;
    font-size: small;
}
.inputError, .inputErrorFocused{
    border: 1px solid rgba(244,33,46,1.00);
}
.inputErrorFocused{
    box-shadow: rgba(244,33,46,1.00) 0 0 0 1px;
}
p.errorMessage{
    color: rgb(244, 33, 46);
    font-size: 13px;
    font-weight: 400;
    padding: 2px 8px 0 8px;
}
.secured{
    -webkit-text-security: disc !important;
}