.postsWrapper{
    grid-area: feed;
    color: var(--primary-text-color);
}
.title {
    font-size: 28px;
    text-align: center;
    border-bottom: 1px var(--primary-border-color) solid ;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.postsContainer {
    overflow: visible;
}