.wrapper {
    display: flex;
    align-items: start;
    text-decoration: none;
    padding: 12px 16px;
    transition-duration: 0.2s;
    transition-property: background-color, box-shadow;
}
.wrapper:hover {
    background-color: var(--option-shadow);
}

.profilePictureWrapper {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.profilePicture {
    aspect-ratio: 1/1;
    border-radius: 9999px;
    width: 40px;
    height: 40px;
}

.info {
    display: block;
    width: 100%;
}
.infoTopPanel, .statusContainer {
    margin-bottom: 4px;

    display: flex;
    justify-content: space-between;
}


.name, .status {
    color: var(--primary-text-color);
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;

    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 20px;
    text-overflow: ellipsis;
}

.name:hover {
    text-decoration: underline;
}

.status {
    font-weight: 400;
    white-space: normal;
    line-height: 20px;
    word-break: break-word;
}

.status span {
    display: inline-block;
    word-break: break-word;
    overflow: hidden;
}

.followUnfollowButton {
    transition: background-color 0.2s ease-in-out;
    font-weight: 600;
    font-size: 14px;
    background-color: var(--secondary-background-color);
    border: 1px solid black;
    padding: 7px 16px;
    line-height: 16px;
    border-radius: 9999px;
    color: var(--tertiary-text-color);
    cursor: pointer;

    margin-left: 12px;
}

.followUnfollowButton:hover {
    background-color: var(--reversed-button-background-hover);
}

.followed{
    transition: background-color 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
    color: var(--primary-text-color);
    border-color: var(--secondary-border-color);
}
.followed:hover{
    background-color: rgba(244, 33, 46, 0.1);
    color: rgb(244, 33, 46);
    border-color: var(--unfollow-border);
}