.toggleContainer{
    background-color: var(--primary-border-color);
    height: 20px;
    width: 40px;
    border-radius: 9999px;
    position: relative;
}
.toggleBody{
    background-color: #d2d2d2;
    width: 16px;
    height: 16px;
    margin: 2px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}
.isActivated{
    transform: translateX(20px);
    background-color: var(--dialog-item-background-hover)
}